@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('content.css');
@import url('nav.css');

*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body{
    display: block;
    font-family: Helvetica, sans-serif;
    color: black;
    background-color: rgb(255, 253, 253);
}

.container{
    max-width: 1900px;
    margin: 0 auto;
}

.nav-bar {
    position: relative;
    z-index: 4;
    background-color: rgb(255, 253, 253);
    height: 6vh;
    width: 100%;
    position: fixed;
    display: flex;
    font-size: 0.70rem;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    padding: 0 0 0 1rem;
    position: fixed;
    height: 4.5vh;
    left: 0;
}

.desktop-nav-shop {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 13rem;
    left: 5rem;
    height: 5vh;
    align-items: center;
    cursor: pointer;
}

.desktop-nav-shop-links:hover > .dropdown {
    display: block;
}

.dropdown:hover {
    display: block;
}

.desktop-nav-more {
    padding: 0 1rem 0 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 15rem;
    right: 0;
}

.desktop-nav-shop-links {
    margin: 0 0.5rem;
    height: 6vh;
    display: flex;
    align-items: center;
}

.desktop-nav-more-links {
    margin: 0 0.5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.burger {
    display: none;
}

.dropdown {
    top: 6vh;
    position: fixed;
    z-index: 3;
    width: 100%;
    display: none;
    font-size: 11px;
}

.mens-dropdown-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    background-color: rgb(255, 253, 253);
    width: 100%;
    padding: 1rem 0 2rem 0;
}

.womens-dropdown-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    background-color: rgb(255, 253, 253);
    width: 100%;
    padding: 1rem 0 2rem 0;
}


.accessories-dropdown-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18vh;
    background-color: rgb(255, 253, 253);
    width: 100%;
    padding: 1rem 0 2rem 0;
}

/* FOOTER */

.footer-nav{
    display: flex;
    height: 4vh;
    font-size: 11px;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-links{
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.stussy-2020{
    position: relative;
    margin-left: 110px;
}

@media screen and (max-width: 800px){
    .burger {
        position: fixed;
        display: flex;
        background-image: url('images/burger_black.png');
        height: 3.5vh;
        width: 1.25rem;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        margin: 0 0 0 1rem;
        position: fixed;
        left: 0;
    }

    .logo {
        display: flex;
        height: 4.5vh;
        position: fixed;
        margin: 0 auto;
        left: initial;
    }

    .desktop-nav-shop {
        display: none;
        flex-direction: column;
        background-color: rgb(255, 253, 253);
        height: 100vh;
        width: 23rem;
        top: 0;
        left: 0;
        align-items: initial;
        justify-content: initial;
        padding: 0rem 0;
        font-size: 12px;
    }

    .exit{
        background-image: url('images/cross.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 1.6vh;
        background-position: right;
        margin: 1rem 1rem;
        cursor: pointer;
    }

    .desktop-nav-shop-links {
        margin: 0 1rem;
        height: 3vh;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .dropdown-nav-links {
        padding: 0.5rem 0;
    }

    .dropdown {
        display: flex;
        z-index: 3;
        display: none;
        font-size: 12px;
        width: 21rem;
    }

    .desktop-nav-more {
        display: none;
    }

    .desktop-nav-shop-links:hover > .dropdown {
        display: none;
    }
    
    .dropdown:hover {
        display: none;
    }
}