*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body{
    display: block;
    font-family: Helvetica, sans-serif;
    color: black;
    background-color: rgb(255, 253, 253);
}

.title {
    font-size: 0.8rem;
    text-align: center;
}

.features-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.features-nav-bar {
    display: flex;
    list-style: none;
    width: 25rem;
    justify-content: space-between;
}

li {
    font-size: 0.7rem;
}